<main th:fragment="content">
  <!-- Correction ici -->
  <h1>Login</h1>
  <div class="d-flex justify-content-center">
    <form method="post" th:action="@{/processLogin}" class="w-50">
      <div class="d-flex flex-column">
        <div class="col form-group">
          <label for="username">Nom</label>
          <input type="text" name="username" class="form-control" id="username" required/>
        </div>

        <div class="col form-group">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" class="form-control" id="password" required />
        </div>
      </div>

      <!-- BOUTONS -->
      <div class="d-flex mt-5 justify-content-between">
        <button type="submit" class="btn btn-success">
          <!-- <i class="fa fa-save"></i>  -->Connexion
        </button>

        <!-- <button type="button" onclick="history.back()" class="btn btn-danger"> -->
          <!-- <i class="fa fa-reply"></i> Annuler -->
        </button>
      </div>
    </form>
  </div>
</main>
