<main th:fragment="content">
    <div class="my-4">
        <a class="btn btn-primary mb-3" th:href="@{/films/new}">
            <i class="fa-solid fa-plus"></i> Ajouter un film
        </a>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Affiche</th>
                    <th>Titre</th>
                    <th>Nationalité</th>
                    <th>Date de sortie</th>
                    <th>Durée</th>
                    <th>Réalisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="film : ${films}">
                    <td>
                        <img th:src="${film.afficheUrl}" alt="Affiche film" style="width:50px;">
                    </td>
                    <td th:text="${film.titre}"></td>
                    <td th:text="${film.nationalite}"></td>
                    <td th:text="${film.dateSortie}"></td>
                    <td th:text="${film.duree}"></td>
                    <td th:text="${film.realisateur.nom} + ' ' + ${film.realisateur.prenom}"></td>
                   <td>
    <a class="btn btn-info btn-sm" th:href="@{|/films/${film.id}|}">
        <i class="fa-solid fa-eye"></i>
    </a>
    <a class="btn btn-warning btn-sm" th:href="@{|/films/${film.id}/edit|}">
        <i class="fa-solid fa-edit"></i>
    </a>
    <form th:action="@{|/films/${film.id}/delete|}" method="post" style="display:inline;">
        <button class="btn btn-danger btn-sm" type="submit">
            <i class="fa-solid fa-trash"></i>
        </button>
    </form>
</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
