<!-- templates/home/videos.html -->
<div th:fragment="content">
    <div class="container my-5">
        <h2 class="text-center mb-4">Films populaires</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/oEoVMLxQAgWlX0IUVty8orD7DrQ.jpg" class="card-img-top" alt="Film 1">
                    <div class="card-body">
                        <h5 class="card-title">À la recherche du bonheur</h5>
                        <p class="card-text">Représentant de commerce, Chris Gardner a du mal à gagner sa vie. Il jongle pour s'en sortir, mais sa compagne supporte de moins en moins leur...</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://media.themoviedb.org/t/p/w600_and_h900_bestv2/2E7me3rPi8HqaeheuD86YlpNX6k.jpg" class="card-img-top" alt="Film 2">
                    <div class="card-body">
                        <h5 class="card-title">Dhoom Dhaam : Vive les mariés !</h5>
                        <p class="card-text">Lors de sa nuit de noces, un couple incongru se retrouve à esquiver voyous et policiers dans une course-poursuite chaotique.</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/eQXHRyChU8jyoU8hIXJIsw6p2Vl.jpg" class="card-img-top" alt="Film 3">
                    <div class="card-body">
                        <h5 class="card-title">Anora</h5>
                        <p class="card-text">Anora, jeune travailleuse du sexe de Brooklyn, se transforme en Cendrillon des temps modernes lorsqu’elle rencontre le fils d’un oligarque russe...</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/udaLIJ6Na7GOHjvTlyP9JFPTccv.jpg" class="card-img-top" alt="Film 3">
                    <div class="card-body">
                        <h5 class="card-title">Teen Titans Go!</h5>
                        <p class="card-text">Découvrez les toutes nouvelles aventures de Robin, Cyborg, Starfire, Raven et Changelin dans Teen Titans Go! Que font ces super héros quand ils ne combattent pas le crime ? Rejoins les Teen Titans et découvre leur quotidien dans une comédie hilarante !...</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/wDRXmiAEJdhNIcuetM4016fOCx8.jpg" class="card-img-top" alt="Film 3">
                    <div class="card-body">
                        <h5 class="card-title">Anora</h5>
                        <p class="card-text">Anora, jeune travailleuse du sexe de Brooklyn, se transforme en Cendrillon des temps modernes lorsqu’elle rencontre le fils d’un oligarque russe...</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/geCRueV3ElhRTr0xtJuEWJt6dJ1.jpg" class="card-img-top" alt="Film 3">
                    <div class="card-body">
                        <h5 class="card-title">Anora</h5>
                        <p class="card-text">Anora, jeune travailleuse du sexe de Brooklyn, se transforme en Cendrillon des temps modernes lorsqu’elle rencontre le fils d’un oligarque russe...</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>