<div th:fragment="content">
<div class="container my-5">
    <h2 class="text-center mb-4">Tendances</h2>
    <div class="row">
        <!-- Film 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="#">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/1Np511QIqSs0s3iDpWXPbuY4o5o.jpg" class="card-img-top" alt="Film 1">
                </a>
                <div class="card-body">
                    <h5 class="card-title">The George</h5>
                    <p class="card-text">Description du film 1.</p>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
        <!-- Film 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="#">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/67BPUqGcMK4iG97JNNX4GE0sDwo.jpg" class="card-img-top" alt="Film 2">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Mufasa : Le Roi lion</h5>
                    <p class="card-text">18 déc. 2024</p>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
        <!-- Film 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="#">
                    <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/vWoa8QSoNwIHMBKLLv82btw2S5L.jpg" class="card-img-top" alt="Film 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Vol à haut risque</h5>
                    <p class="card-text">14 févr. 2025</p>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>