<div th:fragment="content">
    <div class="container my-5">
        <h2 class="text-center mb-4">Bandes-annonces</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">  
                        <!-- <iframe width="100%" height="200" src="https://www.youtube.com/embed/video_id_1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/DsuEOFQr1iA?si=Da0TF8t_lxeBp9XU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">Mickey 17</h5>
                        <p class="card-text">5 mars 2025</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe  width="100%" height="200" src="https://www.youtube.com/embed/GuPkfvxmtdw?si=jGuo1HJRABfh_O8K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">Anora</h5>
                        <p class="card-text">30 oct. 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/np6cIibsaSY?si=gqTtBXwP-g6a5LaG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">Captain Airetier : Brave New World</h5>
                        <p class="card-text">12 fév. 2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h2 class="text-center mb-4">Populaires</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/66SClQpuokQ?si=tsthglEUlW4mYh3t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">1923</h5>
                        <p class="card-text">18 déc. 2022</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/3eo1e0xQ9o4?si=z75rlXurqRUBLjBB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">Solo Leveling</h5>
                        <p class="card-text">7 janv. 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/TZwQH1fKOM8?si=jkGAt1Wna6h-Keb2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">Je suis toujours là</h5>
                        <p class="card-text">15 janv. 2025</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <h2 class="text-center mb-4">En streaming</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/TGLq7_MonZ4?si=jWFII_7Q5A2576-B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">The White Lotus</h5>
                        <p class="card-text">11 juillet 2021</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/vob8AGZM4Wc?si=iUIBUjQPJPYLtwMu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">Flow, répondit de l’eau</h5>
                        <p class="card-text">30 oct. 2024</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/EpzLTPocw6M?si=E9N2XyeJRHWM9ptH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <h5 class="card-title">Novocaine</h5>
                        <p class="card-text">Au cinéma le 26 mars</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>